footer {
    background: linear-gradient(to left, #3a8dde, #a1c4fd);
    color: white;
    /* Couleur du texte */
    padding: 20px;
    /* simple padding */
    text-align: center;
    /* Centrer le texte */
    margin-top: auto;
    /* Permet de pousser le footer vers le bas */
    width: 100%;
    position: relative;
    height: fit-content;
    margin-top: 200px;
}

.footer-content {
    max-width: 1200px;
    /* Largeur maximale du footer */
    margin: 0 auto;
    /* Centrer le footer */
}

.footer-info {
    margin-bottom: 15px;
    /* Espacement entre sections */
}

.footer-links {
    list-style: none;
    /* Supprimer les puces de la liste */
    padding: 0;
    /* Supprimer le padding */
}

.footer-links li {
    display: inline;
    /* Afficher les liens en ligne */
    margin: 0 10px;
    /* Espacement entre les liens */
}

.footer-links a {
    color: white;
    /* Couleur des liens */
    text-decoration: none;
    /* Supprimer le soulignement */
    transition: color 0.3s;
    /* Transition pour le survol */
}

.footer-links a:hover {
    color: #1e5b85;
    /* Couleur des liens au survol */
}

.footer-work {
    margin-top: 15px;
    /* Espacement supérieur */
}

.github-link {
    color: #ffffff;
    /* Couleur du lien GitHub */
    text-decoration: none;
    /* Supprimer le soulignement */
}

.github-link:hover {
    color: #1e5b85;
    /* Couleur au survol */
}

