/* Reset some default styles */


header {
    background: var(--background);
    /* Utilise le même dégradé que le footer */
    padding: 20px;
    /* Un peu d'espace pour respirer */
    text-align: center;
    /* Centre le titre et le slogan */
    color: var(--text-color);
    /* Couleur du texte en blanc pour le contraste */
    width: 100%;
}

header h1 {
    font-size: 36px;
    /* Un titre un peu plus grand */
    font-weight: bold;
    /* En gras pour plus d'impact */
    margin-bottom: 10px;
    /* Un peu d'espace entre le titre et le slogan */
}

header p {
    font-size: 18px;
    /* Un slogan un peu plus petit */
    color: var(--text-color);
    /* Un gris clair pour le slogan, en harmonie avec le fond */
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--background);
    width: 100%;
    display: flex;
    flex-direction: column;
    /*direction de la page*/
    justify-content: space-between;
    /* Pour pousser le footer vers le bas */
    height: 100vh;
    /* Assurez-vous que le body prend toute la hauteur de la vue */

}

/* Container for the elements */
.container {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex: 1;
    /* Prend toute la hauteur restante*/
    flex-direction: column;
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
}

/* Logo styling */
.logo {
    width: 200px;
    height: 200px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
}

.research-fields {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 23px;
    position: relative;
}

/* Search bar styling */
.search-bar {
    padding: 10px;
    font-size: 16px;
    outline: none;
    margin-bottom: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: left;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
    border-radius: 20px;
    border: none;
    flex: 1;
    max-width: 450px;
    min-width: 5px;
}

.research-button-field {
    background-color: transparent;
    border: none;
    height: 20px;
    position: relative;
    top: -12px;
    left: -30px;
    cursor: pointer;
}

.research-button-field:hover {
    color: var(--accent-color-hover);
}

form {
    display: flex;
    width: 100%;
}

.prv {
    width: 55px;
    /* Defini la taille des images*/
    filter: invert();
    /*change la couleur des images*/
    mix-blend-mode: lighten;
    /* change le fond des images*/
}

.image-container {
    justify-content: center;
    /* Centre l'image horizontalement */
    align-items: center;
    /* Centre l'image verticalement */
    width: 60px;
    /* Largeur du conteneur */
    height: 60px;
    /* Hauteur du conteneur */
    border-radius: 50%;
    /* Rend le conteneur circulaire */
    border: 2px solid white;
    /* Bordure blanche */
    margin: 15px;
    /* Ajoute un espacement autour du conteneur */
    display: inline-block;
    /* Affiche les conteneurs en ligne*/
}

.info {
    color: var(--text-color);
}