/* style.css */

body {
    font-family: Arial, sans-serif;
    background: var(--background);
    color: white;
}

.material-symbols-outlined {
    width: 0;
}


.content {
    padding: 20px;
}

#site-title:visited {
    color: rgb(180, 180, 180);
}



.circle {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    margin-right: 15px;
}

.text {
    max-width: 600px;

}

.text h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.text p {
    font-size: 14px;
    line-height: 1.6;
}

article {
    display: none; /*gestionnement par js*/
    margin: 20px 0;
    /*marge*/
    background: var(--background);
    /* transition de couleur */
    padding: 20px;
    /*padding simple*/
    border-radius: 10px;
    /*coin arrondi*/
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    /* ombre */
    transition: transform 0.3s;
    /* transition */
}

article:hover {
    transform: scale(1.02);
    /* transition avec agrr=andissement */
}

#form-input {
    display: none;
    position: absolute;
}

.page-input {
    display: none;
    position: absolute;
}


.pages-button {
    background: var(--background-header);
    /*couleur*/
    color: var(--text-color);
    /*couleur du texte*/
    border: none;
    /*pas de bordure*/
    padding: 10px 20px;
    /*le padding basique*/
    border-radius: 20px;
    /*forme des coins arrondis*/
    font-size: 16px;
    /*taille*/
    font-family: Arial, sans-serif;
    /*police*/
    cursor: pointer;
    /*petite main*/
    outline: none;
    /*pas de contour*/
    transition: 0.3s ease, transform 0.2s ease;
    /* transition */
}

.pages-button:hover {
    background: var(--background-inverse);
    /* transition de couleur */
    transform: translateY(-2px);
    /* transition agréable*/
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    /* transition ombre*/
}