/* :root {
    --background-inverse: linear-gradient(to left, #3a8dde, #a1c4fd);
    --background: linear-gradient(to right, #3a8dde, #a1c4fd);
    --background-header: linear-gradient(to right, #1c4dab, #6a8edd);
    --accent-color: black;
    --accent-color-hover: rgb(114, 114, 114);
    --placeholders: #333;
    --text-color: white;
} */
/*TODO: add dark mode here:*/
:root {
    --background-inverse: linear-gradient(to left, #1b1f29, #343a46);
    --background: linear-gradient(to right, #1b1f29, #343a46);
    --background-header: linear-gradient(to right, #2a2f3b, #404857);
    --accent-color: #e3e3e3;
    --accent-color-hover: #b3b3b3;
    --placeholders: #777;
    --text-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

em {
    color: var(--text-color);
}